<div class="container mt-4">
  <h1>Meus itens que aluguei</h1>
  <div class="card-product m-4">
    <% @rents.each do |rent| %>
      <% if item.photo.attached? %>
        <%= cl_image_tag item.photo.key, height: 300, width: 400, crop: :fill %>
      <%else%>
        <%= image_tag 'tool.png' %>     
      <%end%>
      <div class="m-4">
        <%= rent.item.name %>
      </div>
    <% end %>
    <br>
  </div>
</div>
