<div class="container mb-4 p-4">
  <h1>ITENS ALUGADOS</h1>
  <% @rents.each do |rent| %>
    <div class="card-product my-items m-2">
      <% if rent.item.photo.attached? %>
        <%= cl_image_tag rent.item.photo.key, height: 300, width: 400, crop: :fill %>
      <%else%>
        <%= image_tag 'tool.png' %>
      <%end%>
      <div class="m-4">
        <%= rent.item.name %>
      </div>
      <%= link_to "Devolver", rent_path(rent), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-warning" %>

    </div>
  <% end %>
</div>
