<div class="footer align-items-center" >
  <div class="information row p-2 px-5">
    <div class="col mb-2">
      <h3 class="mb-3"> Institucional </h3>
      <h5 class="mb-3"> Imprensa </h5>
      <h5 class="mb-1"> Trabalhe conosco </h5>
    </div>
    <div class="col mb-2">
      <h3 class="mb-3"> Segurança</h3>
      <h5 class="mb-3"> Termos de uso </h5>
      <h5 class="mb-1"> Política de Privacidade </h5>
    </div>
    <div class="col mb-2">
      <h3 class="mb-3"> Produtos</h3>
      <%= link_to "Produtos", items_path, class: "h5" %>
    </div>
    <div class="col mb-2">
      <h3>Redes Sociais</h3>
      <div class="d-flex justify-content-around">
        <a href="#"><i class="fab fa-instagram"></i><a>
        <a href="#"><i class="fab fa-youtube"></i><a>
        <a href="#"><i class="fab fa-facebook-f"></i><a>
        <a href="#"><i class="fab fa-twitter"></i><a>
      </div>
    </div>
  </div>
  <div class = "footer-copyright pt-3">
    <div>
      R. Jericó, 193 - cj. 72 - Vila Madalena, São Paulo - SP, 05435-040
      CNPJ n. 000000001/0001
    </div>
  </div>
</div>
