<div class="container mt-4">
  <h1>My items</h1>
  <div class="card-product m-4">
    <% @items.each do |item| %>
      <%= image_tag 'tool.png' %>
      <div class="m-4">
        <%= item.name %>
        <%= link_to edit_item_path(item) do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to item_path(item), method: :delete, data: {confirm: 'Are you sure?'} do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </div>
    <% end %>
    <br>
  </div>
</div>
