<div class="container mb-4 p-4">
  <h1>Meus Items</h1>
  <% @items.each do |item| %>
<<<<<<< HEAD
    <div class="card-product my-items m-2">
=======
    <div class="card-product my-items p-3 mb">
>>>>>>> master
      <%= cl_image_tag item.photo.key%>
      <div class="card-info m-4 d-flex">
        <div class="">
          <h2><%= item.name %></h2>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <% if policy(item).edit? %>
        <%= link_to "EDITAR", edit_item_path(item), class: "btn btn-secondary " %>
      <% end %>
      <%if policy(item).destroy? && item.rented == false %>
        <%= link_to "DELETAR", item_path(item), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-warning " %>
      <%end%>
    </div>
  <%end%>
</div>
