<div class="container mt-4 mb-4 p-4">
  <h1>Meus Items</h1>
  <% @items.each do |item| %>
    <div class="card-product my-items m-2">
      <%= image_tag 'tool.png' %>

      <div class="card-info m-4">
        <h2><%= item.name %></h2>
        <%= link_to edit_item_path(item) do %>
          <i class="fas fa-edit p-1"></i>
        <% end %>
        <%= link_to item_path(item), method: :delete, data: {confirm: 'Are you sure?'} do %>
          <i class="fas fa-trash p-1"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
