<div class="container">
  <h1><%= @item.name %></h1>
  <%= cl_image_tag @item.photo.key, height: 300, width: 400, crop: :fill %>
  <% unless @item.user == current_user%>
    <%= link_to "Rent", item_rents_path(@item), method: :post, data: {confirm: "Rent #{@item.name}?"}, class: "btn btn-success" %>
  <% end %>
</div>
